{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
{% endblock %}

{% block content %}

<div class="forgot-page">

    <div class="forgot-card">

        <h2 class="forgot-title">
            Forgot Password 🔐
        </h2>

        <p class="forgot-subtitle">
            Enter your email to receive an OTP.
        </p>

        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="forgot-group">

                <label>Email Address</label>

                <input
                    type="email"
                    name="email"
                    placeholder="Enter your email"
                    required
                >

            </div>

            <button type="submit" class="forgot-btn">
                Send OTP
            </button>

        </form>

    </div>

</div>

{% endblock %}