{% extends 'base.html' %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<div class="login-page">


<div class="login-card">

    <h2 class="login-title">
        Reset Password 🔐
    </h2>

    <p class="login-subtitle">
        Create your new password.
    </p>

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        <div class="login-group">

            <label for="password">
                New Password
            </label>

            <input
                type="password"
                id="password"
                name="password"
                class="login-input"
                autocomplete="new-password"
                placeholder="Enter new password"
                required
            >

        </div>

        <div class="login-group">

            <label for="confirm_password">
                Confirm Password
            </label>

            <input
                type="password"
                id="confirm_password"
                name="confirm_password"
                class="login-input"
                autocomplete="new-password"
                placeholder="Confirm new password"
                required
            >

        </div>

        <button
            type="submit"
            class="login-btn">

            Reset Password

        </button>

    </form>

</div>

</div>

{% endblock %}
