{% extends 'base.html' %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<div class="login-page">


<div class="login-card">

    <h2 class="login-title">
        Welcome Back 👋
    </h2>

    <p class="login-subtitle">
        Login to continue shopping.
    </p>


    <!-- Login Form -->

    <form method="POST">

        {% csrf_token %}


        <!-- Email -->

        <div class="login-group">

            <label for="{{ form.email.id_for_label }}">
                Email Address
            </label>

            {{ form.email }}

            {% if form.email.errors %}

                <div class="text-danger mt-1">
                    {{ form.email.errors }}
                </div>

            {% endif %}

        </div>


        <!-- Password -->

        <div class="login-group">

            <label for="{{ form.password.id_for_label }}">
                Password
            </label>

            {{ form.password }}

            {% if form.password.errors %}

                <div class="text-danger mt-1">
                    {{ form.password.errors }}
                </div>

            {% endif %}

     <div class="forgot-password-link">
    <a href="{% url 'customer_forgot_password' %}">
        Forgot Password?
    </a>
</div>

        </div>
  


        <!-- Invalid Login -->

        {% if form.non_field_errors %}

            <div class="alert alert-danger">

                {{ form.non_field_errors }}

            </div>

        {% endif %}


        <!-- Login Button -->

        <button
            type="submit"
            class="login-btn">

            Login

        </button>

    </form>


    <!-- Signup -->

    <div class="signup-link">

        Don't have an account?

        <a href="{% url 'signup' %}">
            Create Account
        </a>

    </div>

</div>


</div>

{% endblock %}
